.post-container {
    display: grid;
    
   align-items: start;
   align-content: start;
   grid-template-columns: repeat(auto-fill, minmax(300px, max-content));
   
}

.post-container-section-title {
    padding: 1.5rem 0 0 1rem;
}

.post-container-wrapper {
    padding: 0 2rem;
    
}

@media (max-width: 600px) {
    .post-container-wrapper {
    padding: 1rem 0;
    
}

.post-container {
    margin-top: 1rem;
    display: grid;
    align-content: center;
    justify-content: center;
}
}