.small-display {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    min-width: 16rem;
}

.text {
    margin-left: 1rem;
}

.image {
    border-radius: 10px 0px 0px 10px;
}